$background-color: #e77c2f;

.itemContainer {
    margin-top: 155px;

    .heading {
        color: $background-color;
        background-color: antiquewhite;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .items{
        margin-top: 15px;
        background-color: $background-color;
        padding: 5px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 10px;
    }
}